@using Capnp.Rpc
@using Mas.Infrastructure.Common
@inject Mas.Infrastructure.Common.ConnectionManager ConMan

<h3>ConnectToSturdyRef</h3>

<input type="text" @onchange=OnChange value="capnp://localhost:50487/"/>

<p>@SturdyRef</p>

@code {
    private String SturdyRef;

    private async Task OnChange(ChangeEventArgs args) {
        SturdyRef = args.Value.ToString();

        var cm = new ConnectionManager();
        var service = await cm.Connect<Mas.Rpc.Soil.IService>(SturdyRef);

        var allParams = await service.GetAllAvailableParameters(false);

        foreach(var param in allParams.Item1)
        {
            Console.WriteLine(param.ToString());
        }

        //Proxy ref = await ConMan.Connect(SturdyRef);
    }

}
