@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="20"/>

<RadzenButton Text="@Hi"></RadzenButton>

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>
@code {
    private String Hi = "Hi";

    void ButtonClicked()
    {
        Hi = "Hiiiiiiiii";
    }
}

<Counter2></Counter2>
<ConnectToSturdyRef></ConnectToSturdyRef>