::deep .diagram-container {
    width: 100%;
    height: 90vh;    
    border: 1px solid black; /* Just visual */
}

::deep .diagram-node {
    min-width: max-content;
}

::deep .diagram-node.selected {
    border: 1px solid #6e9fd4;
}

/*::deep .diagram-node .selected .port {*/
/*    border: 1px solid #6e9fd4;*/
/*}*/

::deep .channel-link-label {
    pointer-events: all;
    display: inline-block;
    color: #d4d4d4;
    background-color: rgb(212, 212, 212);
    border-radius: 0.25rem;
    padding: 0.25rem;
    text-align: center;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 3rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
