::deep .diagram-port {
    width: 20px;
    height: 20px;
    margin: -10px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    position: absolute;
}

::deep .diagram-port:hover, .diagram-port.has-links {
    background-color: black;
}

::deep .diagram-port.bottom {
    bottom: 0px;
    left: 50%;
}

::deep .diagram-port.bottomleft {
    bottom: 0px;
    left: 0px;
}

::deep .diagram-port.bottomright {
    bottom: 0px;
    right: 0px;
}

::deep .diagram-port.top {
    top: 7px;
    left: 50%;
}

::deep .diagram-port.topleft {
    top: 0px;
    left: 0px;
}

::deep .diagram-port.topright {
    top: 0px;
    right: 0px;
}

::deep .diagram-port.left {
    left: 0px;
    top: 50%;
}

::deep .diagram-port.right {
    right: 0px;
    top: 50%;
}