div {
    width: 200px;
    outline: 1px solid black;
    padding: 5px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.selected {
    border: 1px solid #6e9fd4;
}
