@using Blazor.Diagrams.Core.Models.Base;

<div>
    @if (Control.NodeModel.Editable)
    {
        <MudFab Size="Size.Small"
                Color="Color.Success"
                StartIcon="@Icons.Material.Filled.Add"
                Label="@Control.Label"/>
    }
</div>

@code
{
    [Parameter]
    public AddPortControl Control { get; set; } = null!;

    [Parameter]
    public Model Model { get; set; } = null!;
}